<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css')}}?{{cache_id}}">
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}?{{cache_id}}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<title>{% block title %}{% endblock title %}</title>
</head>

<body class="relative overflow-x-hidden">
	{% block content %}
	{% endblock content %}
</body>
</html>