{% with flashed_messages = get_flashed_messages(with_categories=true) %}
{% if flashed_messages %}
<ul id="flashed" class="transition ease delay-[.3s]">
	{% for category, message in flashed_messages %}
	<li class="text-center
			{% if category == 'error' %}
				bg-red-300
			{% elif category == 'warn' %}
				bg-yellow-200
			{% elif category == 'message' %}
				bg-green-200
			{%endif%}">
		{{ message }}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
<!-- HEADER -->
<div class="flex items-center border-b-2 bg-transparent">
	<!-- LOGO -->
	<a href="/home" class="h-15 bg-transparent border-r-2 w-auto cursor-pointer ">
		<h1 class="m-4 text-base lg:text-3xl text-center font-bold">BrainWave</h1>
	</a>
	<!-- SEARCH BAR -->
	<div class="relative flex p-2 m-5 border-2 border-gray-300 w-[30%] h-[50%] rounded-md">
		<input class="outline-none w-[85%]" type="text" placeholder="Search...">
		<img class="cursor-pointer" src="../static/icons/search.svg" />
	</div>
	<!-- NAVIGATION -->
	<div class="hidden lg:flex absolute right-10 items-center gap-10 h-[fit-content] p-2
			*:flex *:justify-center *:items-center">
		<div id="groups-icon" style="width: 30px; height: 30px; background-image: url('../static/icons/group.png'); background-size: contain; background-position: center; background-repeat: no-repeat;" 
		class="relative border-b-2 border-gray-500 cursor-pointer">
			<div
				class="absolute  text-white flex justify-center items-center bg-blue-500 p-2 h-[2px] w-[2px] rounded-full top-0 right-0">
				+</div>
		</div>
		<div id="chats-icon" class="w-[30px] cursor-pointer border-gray-500">
			<img src="../static/icons/chat.png" alt="">
		</div>
		<!-- NOTIFICATIONS -->
		<div id="dropdown" class="relative w-[30px] cursor-pointer">
			<img src="../static/icons/notifications-white.svg" alt="">
			<ul class="active absolute z-20 flex flex-col top-[105%] w-[400px] bg-gray-200 p-2 rounded-md gap-2">
				<li class="relative bg-white border-2 p-2 rounded-md">
					<div class="border-b-2">Very very long notification here. Click to see more of this very very
						long notification</div>
					<div class="right-0">20-05-2003 6:25 PM</div>
				</li>
				<li class="relative bg-white border-2 p-2 rounded-md">
					<div class="border-b-2">Very very long notification here. Click to see more of this very very
						long notification</div>
					<div class="right-0">20-05-2003 6:25 PM</div>
				</li>
			</ul>
		</div>
		<div id="calendar-icon" class="w-[30px] cursor-pointer border-gray-500">
			<img src="../static/icons/calendar.png" alt="">
		</div>
		<!-- DROPDOWN -->
		<div id="dropdown" class="flex-col relative bg-gray-200 p-2 rounded-sm cursor-pointer">
			<div class="flex items-center">
				<img class="w-[30px]" src="../static/icons/user.png" alt="">
				<div class="font-semibold text-base">
					{{current_user.firstname}} {{current_user.lastname}}
				</div>
				<img id="toggle" class="w-[20px] h-[20px] ml-2" src="../static/icons/dropdown.png" alt="">
			</div>
			<ul
				class="active absolute z-20 top-[100%] bg-white *:p-2 w-[100%] flex flex-col items-center border-2 border-gray-200 rounded-b-md">
				<li class="hover:border-b-2">
					<a href="/accounts/profile">Profile</a>
				</li>
				<li class="hover:border-b-2">
					<a href="">Messages</a>
				</li>
				<li class="hover:border-b-2">
					<a href="/logout">Log Out</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- HAM MENU -->
	<div id="ham-menu" class="w-10 h-10 bg-transparent lg:hidden absolute right-5 cursor-pointer z-20
		*:absolute *:bg-gray-400 *:w-10 *:h-1 *:rounded-sm flex flex-row items-center justify-center">
		<span class="top-[25%]"></span>
		<span class="top-[50%]"></span>
		<span class="top-[75%]"></span>
	</div>
	<!-- HAM MENU ITEMS -->
	<div id="nav-menu" class="hidden absolute flex flex-col items-center top-2 right-2 bg-gray-200 z-10 w-[75%] md:w-[50%] rounded-md
		*:text-center *:rounded-md *:p-2 *:hover:bg-gray-200 *:w-[fit-content]
		">
		{% if current_user.is_authenticated %}
		<a href="/home">Home</a>
		<a href="/groups">Groups</a>
		<a href="/accounts/profile">Profile</a>
		<a href="/logout">Log Out</a>
		{% endif %}
		<a href="">About Brainwave</a>
		<a href="">Contact Us</a>
	</div>
</div>
</div>
<script src="../static/scripts/header.js"></script>