<ul id="mobile-notifications" class="hidden lg:hidden flex flex-col items-center bg-white *:my-2 p-5 h-[100%] w-[100%]">
	<li class="relative bg-white border-2 p-2 rounded-md">
		<div class="border-b-2">Very very long notification here. Click to see more of this very very
			long notification</div>
		<div class="right-0">20-05-2003 6:25 PM</div>
	</li>
	<li class="relative bg-white border-2 p-2 rounded-md">
		<div class="border-b-2">Very very long notification here. Click to see more of this very very
			long notification</div>
		<div class="right-0">20-05-2003 6:25 PM</div>
	</li>
</ul>